
<div class="row">
    {{> listeCircuitPartial}}

    <div>
        <img class="imgcircuit" src="/image/circuit/{{{detailCircuit.CIRADRESSEIMAGE}}}">

        <p><b>Nom : </b>{{detailCircuit.CIRNOM}}</p>

        <p><b>Longueur : </b>{{detailCircuit.CIRLONGUEUR}} m</p>

        <p><b>Nombre de spectateurs : </b>{{detailCircuit.CIRNBSPECTATEURS}}</p>

        <p><b>Pays : </b>{{detailCircuit.PAYNOM}}</p>
    </div>
</div>
<p class="justify">{{detailCircuit.CIRTEXT}}</p>
