
<div class="row">
    {{> listeCircuitPartial}}

    <div>
        <img class="imgcircuit" src="/image/circuit/{{{detailCircuit.ciradresseimage}}}" alt="/image/photos.png">

        <p><b>Nom : </b>{{detailCircuit.cirnom}}</p>

        <p><b>Longueur : </b>{{detailCircuit.cirlongueur}} m</p>

        <p><b>Nombre de spectateurs : </b>{{detailCircuit.cirnbspectateurs}}</p>

        <p><b>Pays : </b>{{detailCircuit.paynom}}</p>
    </div>
</div>
<p class="justify">{{detailCircuit.cirtext}}</p>
