<div class="row">
    {{> listeResultatPartial}}

    <div>
        <h1> {{infoGP.gpnom}} {{formatDate infoGP.gpdate 'DD/MM/YYYY' }}</h1>

        <table class="grandPrixRes">
            <tr>
                <td>Place</td>
                <td>Pilote</td>
                <td>Temps</td>
                <td>NbPoints</td>
            </tr>
            {{#each score}}
                <tr>
                    <td>{{this.row_number}}</td>
                    <td>{{this.pilnom}} {{this.pilprenom}}</td>
                    <td>{{this.tempscourse}}</td>
                    <td>{{#if this.ptnbpointsplace}} {{this.ptnbpointsplace}} {{else}} 0 {{/if}}</td>
                </tr>
            {{/each}}
        </table>
    </div>

</div>
    <p class="justify">{{infoGP.gpcommentaire}}</p>
