{{> listeRepPiloPartial}}

    <img src="/image/pilote/{{{infoPilote.PHOADRESSE}}}" class="imageVignette">
    <p><b>Nom : </b>{{infoPilote.PILNOM}} {{infoPilote.PILPRENOM}}</p>
    <p><b>Date de naissance : </b>{{formatDate infoPilote.PILDATENAIS 'dddd D MMMM YYYY'}}</p>
    <p><b>Pays : </b>{{infoPilote.PAYNOM}}</p>
    <p><b>Poids : </b>{{infoPilote.PILPOIDS}} Kg</p>
    <p><b>Taille : </b>{{infoPilote.PILTAILLE}} Cm</p>
    {{#if infoPilote.ECUNOM}}
        <p><b>Écurie : </b>{{infoPilote.ECUNOM}}</p>
    {{else}}
        <p><b>Écurie : </b> Pas d'écurie cette année</p>
    {{/if}}

    {{#if sponsorPilote}}
        <p><b>Principaux sponsors : </b></p>
        {{#each sponsorPilote}}
            <p><b>{{this.SPONOM}}</b> ({{this.SPOSECTACTIVITE}})</p>
        {{/each}}
    {{/if}}
    <p class="justify"><b>Qui suis je ? : </b>{{infoPilote.PILTEXTE}}</p>

    {{#each photoPilote}}
      <a class="example-image-link" href="/image/pilote/{{{this.PHOADRESSE}}}" data-lightbox="imagePilote" data-title="{{{this.PHOCOMMENTAIRE}}}">
        <img class="imgPilote" src="/image/pilote/{{{this.PHOADRESSE}}}" alt="">
      </a>
    {{/each}}
