{{> listeRepPiloPartial}}

    <img src="/image/pilote/{{{infoPilote.phoadresse}}}">
    <p><b>Nom : </b>{{infoPilote.pilnom}} {{infoPilote.pilprenom}}</p>
    <p><b>Date de naissance : </b>{{formatDate infoPilote.pildatenais 'dddd D MMMM YYYY'}}</p>
    <p><b>Pays : </b>{{infoPilote.paynom}}</p>
    <p><b>Poids : </b>{{infoPilote.pilpoids}} Kg</p>
    <p><b>Taille : </b>{{infoPilote.piltaille}} Cm</p>
    {{#if infoPilote.ecunom}}
        <p><b>Écurie : </b>{{infoPilote.ecunom}}</p>
    {{else}}
        <p><b>Écurie : </b> Pas d'écurie cette année</p>
    {{/if}}
    <p><b>Principaux sponsors : </b></p>
    {{#each sponsorPilote}}
        <p><b>{{this.sponom}}</b> ({{this.sposectactivite}})</p>
    {{/each}}
    <p class="justify"><b>Qui suis je ? : </b>{{infoPilote.piltexte}}</p>

    {{#each photoPilote}}
      <a class="example-image-link" href="/image/pilote/{{{this.phoadresse}}}" data-lightbox="imagePilote" data-title="{{{this.phocommentaire}}}">
        <img class="imgPilote" src="/image/pilote/{{{this.phoadresse}}}" alt="">
      </a>
    {{/each}}
