{{> listerMenuEcurie}}

<div class="rowEcurie">
    <img src="/image/ecurie/{{{infoEcu.ecuadresseimage}}}">
    <div>
        <p><b>Nom : </b>{{infoEcu.ecunom}}</p>
        <p><b>Directeur : </b>{{infoEcu.ecunomdir}}</p>
        <p><b>Adresse : </b>{{infoEcu.ecuadrsiege}}</p>
        <p><b>Pays : </b>{{infoEcu.paynom}}</p>
    </div>
</div>




{{#if pilotes}}
    <p><b>Pilotes : </b></p>
    {{#each pilotes}}
        <p>{{this.pilprenom}} {{this.pilnom}} </p>
    {{/each}}
    <div class="touteVoitures">
        {{#each photo}}
            <div class="infoVoiture">
                <img src="/image/ecurie/voiture/{{this.voiadresseimage}}">
                <p>{{this.voinom}}</p>
                <p>{{this.typelibelle}}</p>
            </div>
        {{/each}}
    </div>
    {{else}}
    <p>Cette écurie ne participe pas au championnat cette année</p>
{{/if}}






