<div class="row">
    {{> listerMenuEcurie}}

    <div>
        <div class="rowEcurie">
            <img src="/image/ecurie/{{{infoEcu.ECUADRESSEIMAGE}}}" onerror="this.src='/image/photos.png';" class="imageVignette">
            <div>
                <p><b>Nom : </b>{{infoEcu.ECUNOM}}</p>
                <p><b>Directeur : </b>{{infoEcu.ECUNOMDIR}}</p>
                <p><b>Adresse : </b>{{infoEcu.ECUADRSIEGE}}</p>
                <p><b>Pays : </b>{{infoEcu.PAYNOM}}</p>
            </div>
        </div>


        {{#if pilotes}}
            <p><b>Pilotes : </b></p>
            {{#each pilotes}}
                <div class="infobulle">
                    <a href="/detailPilote/{{{this.PILNUM}}}">{{this.PILPRENOM}} {{this.PILNOM}} </a>
                    <span>
                        <img  src="/image/pilote/{{{this.PHOADRESSE}}}" onerror="this.src='/image/photos.png';">
                        <div>
                            <p><b>{{this.PILPRENOM}} {{this.PILNOM}} </b></p>
                            <p>{{this.PILTEXTE}}... </p>
                        </div>
                    </span>
                </div>
            {{/each}}
            <div class="touteVoitures">
                {{#each photo}}
                    <div class="infoVoiture">
                        <img src="/image/ecurie/voiture/{{this.VOIADRESSEIMAGE}}" onerror="this.src='/image/photos.png';">
                        <p>{{this.VOINOM}}</p>
                        <p>{{this.TYPELIBELLE}}</p>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>Cette écurie ne participe pas au championnat cette année</p>
        {{/if}}
    </div>
</div>
