<div class="row">
    {{> listerMenuEcurie}}

    <div>
        <div class="rowEcurie">
            <img src="/image/ecurie/{{{infoEcu.ecuadresseimage}}}" alt="/image/photos.png" class="imageVignette">
            <div>
                <p><b>Nom : </b>{{infoEcu.ecunom}}</p>
                <p><b>Directeur : </b>{{infoEcu.ecunomdir}}</p>
                <p><b>Adresse : </b>{{infoEcu.ecuadrsiege}}</p>
                <p><b>Pays : </b>{{infoEcu.paynom}}</p>
            </div>
        </div>


        {{#if pilotes}}
            <p><b>Pilotes : </b></p>
            {{#each pilotes}}
                <div class="infobulle">
                    <a href="/detailPilote/{{{this.pilnum}}}">{{this.pilprenom}} {{this.pilnom}} </a>
                    <span>
                        <img  src="/image/pilote/{{{this.phoadresse}}}" alt="/image/photos.png">
                        <div>
                            <p><b>{{this.pilprenom}} {{this.pilnom}} </b></p>
                            <p>{{this.piltexte}}... </p>
                        </div>
                    </span>
                </div>
            {{/each}}
            <div class="touteVoitures">
                {{#each photo}}
                    <div class="infoVoiture">
                        <img src="/image/ecurie/voiture/{{this.voiadresseimage}}" alt="/image/photos.png">
                        <p>{{this.voinom}}</p>
                        <p>{{this.typelibelle}}</p>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <p>Cette écurie ne participe pas au championnat cette année</p>
        {{/if}}
    </div>
</div>
