<h1>Modifier un ecurie</h1>
<form action="#" method="post" enctype="multipart/form-data">
    <label>Nom</label>
    <input name="ECUNOM" type="text" value="{{ecurie.ECUNOM}}" required>
    <label>Directeur</label>
    <input name="ECUNOMDIR" type="text" value="{{ecurie.ECUNOMDIR}}" required>
    <label>Adresse de siege</label>
    <textarea name="ECUADRSIEGE" rows="3">{{ecurie.ECUADRSIEGE}}</textarea>
    <label>Points</label>
    <input name="ECUPOINTS" type="number" id="points" value="{{ecurie.ECUPOINTS}}" required>
    <label>Nationalité</label>
    <select name="PAYNUM" id="nationalite">
        {{#each listePays}}
            <option value="{{{this.paynum}}}">{{this.paynom}}</option>
        {{/each}}
    </select>
    <label >Image</label>
    <input name="foo" type="file">
    <input name="id" class="display-none" type="text" value="{{{ecurie.ECUNUM}}}">
    <input class="valider" type="submit" value="Modifier">
</form>

<script type="text/javascript">
  document.getElementById('nationalite').value={{{ecurie.PAYNUM}}};

  if (document.getElementById('points').value == '') {
    document.getElementById('points').value = 0;
  };
</script>
