<h1>Modifier un circuit</h1>
<form action="#" method="post" enctype="multipart/form-data">
    <label>Nom</label>
    <input name="CIRNOM" type="text" value="{{{circuit.CIRNOM}}}" required>
    <label>Longueur (mètre)</label>
    <input name="CIRLONGUEUR" type="number" value="{{{circuit.CIRLONGUEUR}}}" required>
    <label>Nationalité</label>
    <select name="PAYNUM" id="nationalite">
        {{#each listePays}}
            <option value="{{{this.paynum}}}">{{this.paynom}}</option>
        {{/each}}
    </select>
    <label >Image</label>
    <input name="foo" type="file">
    <label>Nombre de spectateurs</label>
    <input name="CIRNBSPECTATEURS" type="number" value="{{{circuit.CIRNBSPECTATEURS}}}" required>
    <label>Description</label>
    <textarea name="CIRTEXT" id="" cols="30" rows="10">{{{circuit.CIRTEXT}}}</textarea>
    <input class="valider" type="submit" value="Modifier">
</form>

<script type="text/javascript">
  document.getElementById('nationalite').value={{{circuit.PAYNUM}}};
</script>
