<h1>Modifier un pilote</h1>
<form action="#" method="post" enctype="multipart/form-data">
    <label>Prénom</label>
    <input name="prenom" type="text" value="{{{pilote.pilprenom}}}">
    <label>Nom</label>
    <input name="nom" type="text" value="{{{pilote.pilnom}}}">
    <label>Date de naissance</label>
    <input name="date" type="date" value={{formatDate pilote.pildatenais 'YYYY-MM-DD'}}>
    <label>Nationalité</label>
    <select name="nationalite">
        {{#each nationalite}}
            <option value="{{{this.paynum}}}">{{this.paynat}}</option>
        {{/each}}
    </select>
    <label>Ecurie</label>
    <select name="ecurie">
        {{#each ecurie}}
            <option value="{{{this.ecunum}}}">{{this.ecunom}}</option>
        {{/each}}
    </select>
    <label>Points</label>
    <input name="points" type="number" value="{{{pilote.pilpoints}}}">
    <label>Poids</label>
    <input name="poids" type="number" value="{{{pilote.pilpoids}}}">
    <label>Taille</label>
    <input name="taille" type="number" value="{{{pilote.piltaille}}}">
    <label >Image officielle</label>
    <input type="file" name="photo">
    <label>Description</label>
    <textarea name="description" id="" cols="30" rows="10">{{{pilote.piltexte}}}</textarea>
    <input class="valider" type="submit" value="Modifier">
</form>
